/* Lovecote CSS */ 

body { 
    background-color: #EAEAE5;
	font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    display: flex;
    margin: 5%;
}

@media only screen and (max-width: 750px) {
  main {
    display: flex;
    flex-wrap: wrap;
    margin: 7.5%;
  }
}

/* Header */

header {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 750px) {
 header {
    display: flex;
    width: 100%;
	flex-direction: column;
  }
}

#logo {
    max-width: 100%;
}

@media only screen and (max-width: 750px) {
#logo {
    /* display: none; */
	background-color: #EAEAE5;
	width: 200px;
	align-self: center;
	margin: 2.5% 0 2.5% 0;
  }
}

#banner {
    width: 100%;
	height: auto;
    background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
}

#banner-text {
  background-color: #EAEAE5;
  color: black;
  font-family: 'Cabin Sketch';
  font-size: 32px; /* Responsive font size */
  margin: 0 auto; /* Center the text container */
  padding: 15px;
  text-align: left; /* Center text */
  position: absolute; /* Position text */
  margin: 5% 0% 5% 25%;
  mix-blend-mode: screen; /* This makes the cutout text possible */
  border-radius: 15px;

/*   top: 50%; /* Position text in the middle */
/*  left: 30%; /* Position text in the middle */
/*  transform: translate(-50%, -50%); /* Position text in the middle */

}

@media only screen and (max-width: 750px) {
 #banner {
    width: 100%;
	height: 150px;
    background-image: url("../images/banner-small.png");
	background-repeat: no-repeat;
	background-size: cover;
  }
}

@media only screen and (max-width: 750px) {
  #banner-text {
  background-color: #EAEAE5;
  color: black;
  font-family: 'Cabin Sketch';
  font-size: 32px; /* Responsive font size */
  padding: 15px;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  margin: 5% 15% 5% 15%;
  mix-blend-mode: screen; /* This makes the cutout text possible */
  border-radius: 15px;
  }
}

/* Navigation */

nav { 
	font-family: 'Cabin Sketch', cursive;
	font-size: 42px;
    background-color: #97BD64;
/* background-image: linear-gradient(#97BD64, #97BD64, #97BD64, #97BD64, #EAEAE5, #EAEAE5); */
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
nav {
	font-family: 'Cabin Sketch', cursive;
	font-size: 32px;
    background-color: #97BD64;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
	flex-direction: column;
  }
}

nav a {
    color: black;
    text-decoration: none;
	/* Edit below */
    padding-top: 2.5%;
	padding-bottom: 2.5%;
}

@media only screen and (max-width: 750px) {
 nav a {
    color: black;
    text-decoration: none;
	/* Edit below */
    padding-top: 5%;
	padding-bottom: 5%;
  }
}

nav a:hover {
    color: #D8581C;
    text-decoration: none;
	/* Edit below */
    padding-top: 2.5%;
	padding-bottom: 2.5%;
}

@media only screen and (max-width: 750px) {
nav a:hover {
    color: #D8581C;
    text-decoration: none;
	/* Edit below */
    padding-top: 5%;
	padding-bottom: 5%;
}
}

/* Footer */

footer {
    display: flex;
    background-color: #97BD64;
    align-items: center;
    flex-direction: column;
    padding: 1.5%;
}

.social-container{
    text-align: center;
    padding-top: 2%;
}

.social {
    /* Edit below to remove px */
	padding-left: 25px;
    padding-right: 25px;
}

.footer-text {
    text-align: center;
	margin-right: 5%;
	margin-left: 5%;
}

@media only screen and (max-width: 750px) {
    .footer-text {
    text-align: center;
    padding: 2.5%;
    }
  }

/* Headers */

h2 {
	font-size: 32px;
	font-family: 'Cabin Sketch', cursive;
}

/* Home Page */

#home-main {
    display: flex;
}

#home-text {
    width: 60%;
	padding-right: 5%;
	text-align: justify;

/* Swap if want coloured background...
    width: 60%;
	padding: 2.5%;
	margin-right: 5%;
    border-radius: 2.5%;
    background-color: #BCB99D;
*/
}

@media only screen and (max-width: 750px) {
  #home-text {
    width: 100%;
	padding-right: 0%;
	text-align: justify;
  }
}


.aside-image {
    width: 40%;
	max-width: 100%;
}

@media only screen and (max-width: 750px) {
 .aside-image {
	 width: 100%;
	 padding-top: 5%;
     max-width: 100%;
	 /* order: -1; */
 }
}


#home-image {
    max-width: 100%;
	border-radius: 5%;
}

/* Gallery Page */

.gallery {
	justify-content: center;
    flex-wrap: wrap;
}

.gallery-container {
    display: flex;
    text-align: center;
}

@media only screen and (max-width: 750px) {
.gallery-container  {
    display: flex;
    text-align: center;
	flex-direction: column;
  }
}

.gallery-image-container {
  background-color:  #E4C0AB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  width: 30%;
  border-radius: 25px;
}

@media only screen and (max-width: 750px) {
.gallery-image-container {
    background-color: #E4C0AB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    width: auto;
  }
}
      

.gallery-image {
    max-width: 80%;
    margin-top: 10%;
    border-radius: 10%;
}

.gallery-image-header {
    font-family: 'Cabin Sketch', cursive;
    font-size: 28px;
}

.gallery-caption {
    margin: 7.5%;
}

/* Contact Page */

.contact-main{
    justify-content: space-around;
    display: flex;
}

/* Form */


form {
  	width: 50%;
    border-radius: 2.5%;
    background-color: #E4C0AB;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: fit-content;

/*    display: block;
	text-align: center;
	justify-content: center;
*/
}

@media only screen and (max-width: 750px) {
 form {
  	width: 100%;
    border-radius: 2.5%;
    background-color: #E4C0AB;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: fit-content;
	margin-bottom: 10%;
  }
}

label {
    font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #465F1F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #D8581C;
}

::placeholder {
    color: #ea8d61;
    font-family: 'Open Sans', sans-serif;
  }

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ea8d61;
}

select{
    font-family: 'Open Sans', sans-serif;
    color: #ea8d61;
}

#form-terms {
    display: flex;
}

#checkbox {
    margin-left: 10px;
    align-self: center;
}

/*
label, input {
    display: block;
}
*/

/* Login */

.login {
    border-radius: 2.5%;
    background-color: #BCB99D;
    padding: 5% 10% 10% 10%;
	margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Contact Table */


@media only screen and (max-width: 750px) {
  address{
    width: 100%;
  }
}

table {
    background-color: #BCB99D;
    border-radius: 5%;
    padding: 5%;
    width: 100%;
}

@media only screen and (max-width: 750px) {
table {
    background-color: #BCB99D;
  	width: 100%;
    border-radius: 5%;
    padding: 10%;
	margin-top: 5%
  }
}

td {
    padding: 5%;
}

/* Google Map */

.google-maps{
    background-color: #BCB99D;
}

iframe{
    margin-top: 10%;
    border-radius: 5%;
}

/* Images */


